/*重置*/
body,div,ul,li,h1,h2,h3,h4,h5,h6,p,a,table,tr,td,th{
    margin:0;
    padding:0;
    font-family: "黑体";
}

/*导航栏*/
header{
    height:60px;
    background-color:#333;
}
.header-logo{
    float:left;
    width:127px;
    height:46px;
    margin-top:5px;
    margin-left:30px;
    background:url(../images/baidu-logo.jpg);
}
header .nav li{
    float:right;
    margin-right:20px;
    line-height:60px;
    color:black;
}
header .nav a{
    color:white;
    text-decoration: none;
}
header .nav .header-link4{
    color:#808080;
}


/*文章*/
h2{
    margin:10px 0;
    color:#242424;
}
h3{
    margin:10px 0;
    color:#4b4b4b;
}
h4{
    margin:10px 0;
    color:#646464;
}
.article{
    padding:30px 18px;
    border:16px solid #c0c0c0;
    line-height:24px;
}
.article .article-list{
    list-style: none;
    margin:10px 0px 30px 30px;
}
.article .picture{
    margin:0;
}

/*十张图片文章*/
.article .nice-pic{
    width:150px;
    height:150px;
    margin:10px 0 10px 50px;
    border:1px solid #c0c0c0;

}
.article .nice-pic p{
    text-align: center;
    line-height:38px;
}
.article .nice-pic img{
    width:110px;
    height:90px;
    margin:3px 16px 16px 18px;
}

/*表格*/
.article-table{
    border-collapse: collapse;
}
.article-table th{
    width:400px;
    background-color: #242424;
    color:white;
}
.article-table td{
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
}
.article-table .opera{
    border-right:1px solid #c0c0c0;
}

.article-table .total{
    background-color: #c0c0c0;
}
/*侧栏*/
.sidebar{
    position:relative;
    height:570px;
    padding:20px;
    border-top:30px solid #c0c0c0;
    border-right:50px solid #c0c0c0;
    border-bottom:16px solid #c0c0c0;
    border-left:16px solid #c0c0c0;
}
.sidebar h2{
    padding:5px;
    border-left: 4px solid #c0c0c0;
}
.sidebar p{
    line-height: 40px;
}
.sidebar .remind{
    color:#c0c0c0;
}
.sidebar .left-div{
    width:500px;
    float:left;
    text-align: right;
}
.sidebar .right-div{
    width:720px;
    float:right;
}
.sidebar textarea{
    margin-top:10px;
}
.sidebar button{
    font-size:14px;
    font-weight: bold;
    height:46px;
    width:1240px;
    background:#3366ff repeat-x;
    color:white;
    text-align: center;
    border-radius: 10px;
}


/*页脚*/
footer{
    height:80px;
    line-height: 80px;
    text-align: center;
    background-color:#000;
    color:white;
}