/*重置*/
html,body,div,p,img{
	padding:0;
	margin:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}


p{
    margin:10px;
    line-height:26px;
}
.main{
	background-color:#eee;
    margin:20px;
    float:left;
}
div{
	padding:20px;
	border:1px solid #999;
	background-color:#fff;
}
img{
    margin:10px;
}
/*左栏*/
.leftdiv{
	float:left;
	width:200px;
}
.leftdiv .teamlogo{
	float:left;
}

/*中栏*/
.middlediv{
	margin:0 200px 0 300px;
}

/*右栏*/
.rightdiv{
	float:right;
	width:110px;
}
